.body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  #e3dfdf;
}
.todo-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-card {
    background-color: white;
    width: 420px;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.todo-row {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
}

.todo-row input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem 0;
  font-size: 1rem;
}
.todo-row button {
  width: 60px;
  height: 36px;
  border-radius: 10px;
  border: none;
  background: #4a4a4a;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 8px;
}
.todo-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f7f7f7;
    padding: 0.8rem 1rem;
    border-radius: 12px;
    margin-bottom: 0.8rem;
    border: 1px solid #ebe6e6;
}

.todo-left{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.todo-text{
    font-size: 0.95rem;
}

.completed {
  text-decoration:line-through;
  color: #999;
}

.todo-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #555;
    margin-left: auto;
}

.todo-remaining {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  font-style: italic;
  color: #555;
}